# Ignore folders
data/
figures/
results/

# Ignore the conda environment
neuroDBS/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints 
.ipynb_checkpoints/

# Ignore log files
*.log

# IDEs
.idea/
